.vscode
.opencode
node_modules
dist
@types
/.idea/

.env

# 忽略所有md
*.md
!AGENTS.md
!README.md

# 忽略ai创的脚本
*.ps1
*.sh

#忽略压缩包 图片
*.jpg
*.zip

#忽略数据库
stories.db
stories.db-shm
stories.db-wal

#忽略服务器配置
deploy.js
nginx.conf
storyshare.service
